<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .boxwrap {
            display: flex;
        }

        .box {
            background: gray;
            width: 100px;
            height: 100px;
            margin: 5px;
        }

        li.fav {
            background: indianred;
        }
    </style>
</head>

<body>
    <h1>Hello Vue</h1>
    <div id="app">

        <!-- Attribute Binding -->
        <a v-bind:href="url">Best Search Engine ever</a>
        <a :href="url">Best Search Engine ever</a> <!-- SHORTHAND -->

        <div v-if="showBooks">
            <!-- <p>{{ title }} - {{ author }} - {{ age }}</p> -->
            <p>{{ books[0].title }} - {{ books[0].author }} </p>
            <p>{{ books[1].title }} - {{ books[1].author }} </p>
            <p>{{ books[2].title }} - {{ books[2].author }} </p>
            <!-- Or we can use the v-for -->
            <ul>
                <li v-for="book in books" :class="{ fav: book.isFav }">
                    <img :src="book.img" :alt="book.title">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </li>
            </ul>

            <button v-on:click="age++">+</button>
            <button v-on:click="age--">-</button>


            <div v-on:click="title = 'Very nicer book'">Change Book from index.html</div>
            <div @click="title = 'Very nicer book'">Change Book from index.html</div><!-- SHORTHAND -->
            <div @click="changeTitle">Change Book from app.js</div>
            <div @click="changeTitle('The best book ever, full stop')">Change Book by passing prop</div>
        </div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
            <!-- <span v-if="!showBooks">Show Books</span> -->
        </button>

        <div v-show="showBooks">vshowing books (inspect dom, it is using css)</div>

        <br />
        <!-- Mouse events-->
        <div class="boxwrap">
            <div class="box" @mouseover="handleEvent($event, 5)">Mouseover (enter)</div>
            <div class="box" @mouseleave="handleEvent">Mouseover (leave)</div>
            <div class="box" @dblclick="handleEvent">Double Click</div>
            <div class="box" @mousemove="handleMousemove">{{ x }} | {{ y }}</div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>