<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple update clone</title>
    <!-- CDN Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

    <!-- VueJS development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Style sheet -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <!-- Register an account -->
        <div class="card">
            <i class="fab fa-twitter fa-lg fa-fw"></i>
            <!-- Register an account -->
            <div class="register" v-if="!registered">
                <button form="register" type="submit">Register</button>
                <h2>Create your account</h2>
                <form id="register" v-on:submit.prevent="registerAccount">
                    <div class="form_group">
                        <label for="name">Name
                            <span> {{ name.length + '/' + max_length }}</span>
                        </label>
                        <input type="text" v-model="name" :maxlength="max_length">
                    </div>
                    <div class="form_group">
                        <label for="email">Email
                            <span> {{ email.length + '/' + max_length }}</span>
                        </label>
                        <input type="email" v-model="email" :maxlength="max_length">
                    </div>
                    <div class="form_group">
                        <label for="password">Password
                            <span> {{ password.length + '/' + max_pass_length }}</span>
                        </label>
                        <input type="password" v-model="password" :maxlength="max_pass_length">
                    </div>
                </form>


                <div v-if="error.length > 0"> {{error}}</div>
            </div>
            <!-- Add tweet -->
            <div class="updateBox" v-else>
                <h2>Welcome {{ userData.name }} write your first Update</h2>
                <form v-on:submit.prevent="sendUpdate">
                    <div class="form_group">
                        <label for="update">
                            Send your update
                            <span> {{ updateMsg.length + '/' + max_update }}</span>
                        </label>
                        <textarea name="update" id="update" cols="30" rows="10" v-model="updateMsg"
                            maxlength="200"></textarea>
                    </div>
                    <button type="submit">Update</button>
                </form>
            </div>

            <!-- Show all updates -->

            <div class="card-updates">
                <div v-if="updates.length > 0">
                    <section class="updates">
                        <h2>Updates</h2>
                        <update-message v-for="(update, index) in updates" v-bind:update="update" :key="index"
                            @remove-update="removeUpdate(index)"></update-message>
                        <!-- <div class="updateMsg" v-for="(update,index) in updates">
                            <p>{{ update.text }}</p>
                            <div class="update_remove" @click="removeUpdate(index)">
                                <span class="remove">Delete this update <i class="fas fa-trash fa-xs fa-fw"></i></span>
                            </div>
                            <div class="updateDate">
                                <i class="fas fa-calendar-alt fa-sm fa-fw"></i>{{update.date}}
                            </div>
                        </div> -->
                    </section>
                </div>
                <div v-else>No updates, check back later</div>
            </div>

        </div>

    </div>
    <!-- Link our main.js file -->
    <script src="./main.js"></script>
</body>

</html>